<div class="high-chart-main">  
    <form [formGroup]="form" style="text-align: center;">
        <div class="row">
          <div class="col-12 mb-5 d-flex justify-content-end">
            <label for="cars" class="mr-2">Max sensor: </label>
            <select  name="cars" id="cars" formControlName="max">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="multiselect">

                    <div class="selectBox" (click)="showCheckboxes1()">
                      <select>
                        <option>Select an Sensor Left...</option>
                      </select>
                      <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes1">
                      <label for="one">
                        <input type="checkbox" id="sensor1" (click)="setSenser1('Humidity')" [(ngModel)]="checks.chk11" [ngModelOptions]="{standalone: true}">Humidity</label>
                      <label for="two">
                        <input type="checkbox" id="sensor1" (click)="setSenser1('Temperature')" [(ngModel)]="checks.chk12" [ngModelOptions]="{standalone: true}"/>Temperature</label>
                      <label for="three">
                        <input type="checkbox" id="sensor1" (click)="setSenser1('Water level')" [(ngModel)]="checks.chk13" [ngModelOptions]="{standalone: true}"/>Water level</label>
                    </div>
                </div>
            </div>

            <div class="col-6 float-right">
                <div class="multiselect">
                    <div class="selectBox" (click)="showCheckboxes2()">
                      <select>
                        <option>Select an Sensor Right...</option>
                      </select>
                      <div class="overSelect"></div>
                    </div>
                    <div id="checkboxes2">
                        <label for="one">
                          <input type="checkbox" id="sensor2" (click)="setSenser2('Humidity')" [(ngModel)]="checks.chk21" [ngModelOptions]="{standalone: true}"/>Humidity</label>
                        <label for="two">
                          <input type="checkbox" id="sensor2" (click)="setSenser2('Temperature')" [(ngModel)]="checks.chk22" [ngModelOptions]="{standalone: true}"/>Temperature</label>
                        <label for="three">
                          <input type="checkbox" id="sensor2"  (click)="setSenser2('Water level')" [(ngModel)]="checks.chk23" [ngModelOptions]="{standalone: true}"/>Water level</label>
                      </div>
                </div>
            </div>
        </div>

        <!-- <select id="senser_1" name="senser_1" formControlName="senser_1" multiple>
            <option value="">Select Sensor</option>
            <option value="Humidity">Humidity</option>
            <option value="Temperature">Temperature</option>
            <option value="Water level">Water level</option>
        </select>,
        &nbsp;
        <label for="senser_2">Sensor: </label>
        <select id="senser_2" name="senser_2" formControlName="senser_2" multiple>
            <option value="">Select Sensor</option>
            <option value="Humidity">Humidity</option>
            <option value="Temperature">Temperature</option>
            <option value="Water level">Water level</option>
        </select> -->
    </form> 

    <div *ngIf="filter">
        <highcharts-chart
        class="high-chart"
        [Highcharts]="Highcharts" 
        [constructorType]="'stockChart'" 
        [options]="chartOptions">
        </highcharts-chart>
    </div>

    <div style="padding-top: 20px;" *ngIf="!filter">
        Loading ...
    </div>
</div>